{% extends 'main.html' %}
{% load static %}
{% block content %}
   
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">Welcome to Our Restaurant</h1>
                    <p class="animated slideInDown">Experience Ethiopian Food From Anywhere in the World</p>
                    <a href="#" class="btn btn-primary py-3 px-4 animated slideInDown">View Menu</a>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;"src="{% static 'img/front.png' %}" alt="Restaurant Image">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <section id="menu">
            <h2>MEKDI IS AVAILABLE FOR INTIMATE GATHERINGS AND LARGE RECEPTIONS</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% static 'img/hold.jpg' %}" class="card-img-top" alt="Food Item 1">
                        <div class="card-body">
                            <h5 class="card-title">Ethiopian dishes</h5>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% static 'img/hold-1.jpg' %}" class="card-img-top" alt="Food Item 2">
                        <div class="card-body">
                            <h5 class="card-title">Ethiopian food recipe</h5>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% static 'img/coffee.jpg' %}" class="card-img-top" alt="Food Item 3">
                        <div class="card-body">
                            <h5 class="card-title">Ethiopian food Guides</h5>
                            <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
